RootPanel {
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: all;
    font-family: 'Roboto';
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:intro {
        transform: scale(0.75);
    }

    &:outro {
        transform: scale(1.25);
    }
}

.fadeanim {
    opacity: 1;

    &:intro, &:outro {
        opacity: 0;
    }
}

.spinanim {
    transform: rotateY(0deg);
    
    &:intro {
        transform: rotateY(90deg);
    }

    &:outro {
        transform: rotateY(-90deg);
    }
}

.blur {
    backdrop-filter: blur(15px);
}