LoadingPanel {
    flex-direction: column;
    transition: opacity 0.1s ease-in;
    align-items: center;
    justify-content: center;
    opacity: 1;

    WordRambleLogo {
        /*top: 50%;
        left: 50%;*/
        //transform: translate(-50%, -50%);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 8px;
        padding-top: 8px;

        .strip {
            flex-direction: column;
            //justify-content: space-between;
            //aspect-ratio: 0.5;
            transition: transform 1s ease-out 1s;
        }
    }

    .lmaobottomtext {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 16px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: opacity 0.5s ease-out 2s;
    }
}
