MainMenu {
    flex-direction: column;
    opacity: 1;
    transform-origin: 50%;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

    &:outro {
        transform: scale(1.5);
    }

    .topbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        flex-direction: row;
        z-index: 100;
    }

    VirtualScrollPanel {
        height: 100%;
        padding: 0 16px;
        padding-top: 64px;
        pointer-events: all;
        overflow: scroll;

        Tile {
            width: 176px;
            height: 176px;
            margin: 8px;
            pointer-events: none;
        }

        panel {
            flex-direction: column;
            transform-origin: 50%;
            transition: transform 0.1s ease-out;

            Label.bt {
                font-size: 20px;
                font-weight: bold;
                transition: font-size 0.1s ease-out;
            }

            &.selectable:hover {
                Tile {
                    margin: 4px;
                    width: 176px;
                    height: 176px;

                    Label {
                        font-size: 76px;
                    }
                }

                Label.bt {
                    font-size: 24px;
                }
            }

            &.selectable:active {
                transform: scale(0.9);
            }
        }

        GridLayout {
            justify-content: center;
        }
    }
}
