Tile, GameTile {
    width: 128px;
    height: 128px;
    aspect-ratio: 1;
    opacity: 1;
    transform: rotateY(0deg);
    transform-origin: 50%;
    align-items: center;
    justify-content: center;
    transition: margin 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out, opacity 0.1s ease-in, transform 0.1s ease-in;

    Label {
        text-align: center;
        font-family: 'RobotoMono';
        font-size: 72px;
        font-weight: bold;
    }
}
